{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "navbar.html" %}


<div class="wrapper">

    <!-- Speech -->
<video width="320" height="240" autoplay id="vid" preload="true" muted="muted">
<source src="https://d35qcqbovvvp4w.cloudfront.net/web/main-page/main-page-girl/1600x.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<p style="position:absolute; top:40%;left: 2px;background-color: white;" id="speech"></p>
    <div class="container">
        <div class="row">
            {% include "sidebar.html" %}

            <div class="span9">
                <div class="content">

                    <div class="module">
                        <div class="module-head">
                            <h3>Delete Product </h3>
                        </div>
                        <div class="module-body table">
                            
                            <form method="post">
                                <div class="modal-body">
                                  
                                      {% csrf_token %}
                                      <p>Are you sure you want to delete "{{ object }}"?</p>
                                    
                                  
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>
                                  <button type="submit" class="btn btn-danger">Confirm</button>
                                </div>
                            </form>

                            
                    </div><!--/.module-->

                <br>
                    
                </div><!--/.content-->
            </div>
{% endblock %}

{% block javascripts %}

{% endblock %}